@font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 300;
    src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(C:/Users/Matthew/Desktop/A-List Empire/A-List Empire/fonts/Titillium_Web/TitilliumWeb-Light.ttf) format('truetype');
}