*, *:before, *:after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}



.content {
    width:960px;
    background: #F0F0F0;
    border: 1px solid #CCC;
    height: 2000px;
    margin: 70px auto;
}





body {
  
  font-family: 'Titillium Web', sans-serif;
}

a {
  text-decoration: none;
    color: #3DA9FF;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
a:hover {
  color: red;
}

.form {
    background: #F0F0F0;
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}
.tab-group:after {
  content: "";
  display: table;
  clear: both;
}
.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(160, 179, 176, 0.25);
  color: #a0b3b0;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
.tab-group li a:hover {
    background: #307CFF;
  color: #ffffff;
}
.tab-group .active a {
    background: #3DA9FF;
  color: #ffffff;
}

/*.tab-content > div:last-child {
  display: none;
}*/
.videos ~ div{
  
  display: none;
}

h1 {
  text-align: center;
    color: #414141;
  font-weight: 300;
  margin: 0 0 40px;
}

h4{
    font-family: serif;
    display: inline;
    text-align: center;
    color: #ffffff;
    font-weight: 300;
    margin: 0 0 40px;
    font-size: 100px;
    font-feature-settings: bold;
    height: 40px;
    position: absolute;
}
div5{
   color: red; 
}

h5 {
    display: inline;
    text-align: center;
    color: #ffffff;
    font-weight: 300;
    margin: 0 0 40px;
    font-size: 60px;
    font-feature-settings: bold;
    height: 40px;
    position: absolute;
    
}

label4{
    color: black;
}
lable{
  color: black;
    left: 2px;
    font-size: 16px;
}
label {
  position: absolute;
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
  left: 13px;
    color: #414141;
  -webkit-transition: all 0.1s ease;
  transition: all 0.15s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 22px;
}
label .req {
  margin: 2px;
    color: red;
}

label.active {
  -webkit-transform: translateY(50px);
          transform: translateY(-25px);
  left: 2px;
  font-size: 16px;
}
label.active .req {
  opacity: 0;
}

label.highlight {
    color: #414141;
}

input, textarea {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
    color: #414141;
  border-radius: 0;
  -webkit-transition: border-color .1s ease, box-shadow .1s ease;
  transition: border-color .1s ease, box-shadow .1s ease;
}
input:focus, textarea:focus {
  outline: 0;
    border-color: #3DA9FF;
}

textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
}

.field-wrap {
  position: relative;
    margin-bottom: 40px;
}
.field2-wrap{
    position: absolute;
    -webkit-transform: translateY(-50%);

}

.top-row:after {
  content: "";
  display: table;
  clear: both;
}
/*.top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.top-row > div:last-child {
  margin: 0;
}*/
label3 {
    left: 2px;
    font-size: 16px;
    color: #414141;
}
label3 .req {
    margin: 2px;
    color: #3DA9FF;
}

label3.highlight {
    color: #3DA9FF;
}

form
{
    margin: 2px;
    color: #3DA9FF
}

option
{background: #3DA9FF;color: #fff;}

.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
    background: #3DA9FF;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  /*-webkit-appearance: none;*/
}
.button:hover, .button:focus {
    background: #3DA9FF;
}

.submit {
  display: block;
  width: 100%;
}

.forgot {
  margin-top: -20px;
  text-align: right;
}